FYP
/FYP
/FYP/
/extra
/Extra/
old/
.git_disabled/
*.aac
*.mp3
*.mp4
*.mov
*.avi
*.mkv
*.wav
*.ogg
*.webm
*.m4a
*.rar
*.zip
*.7z
*.tar.gz
*.iso
*.h5
*.exe
*.ipch
.vs/
node_modules/
__pycache__/
venv/
.env
Thumbs.db
desktop.ini