body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 350px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header {
    margin-bottom: 20px;
    background-color: #d6cdea;
}

.logo {
    width: 280px;
    margin-bottom: 10px;
}

h1 {
    font-size: x-large;
    color: #555;
    text-align: center;
}

.login-box {
    text-align: left;
}

h2 {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.remember-me input {
    margin-right: 10px;
}

.login-button {
    background-color: #997a48;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.login-button:hover {
    background-color: #805f3c;
}

a {
    color: #0077cc;
    text-decoration: none;
    font-size: 0.9em;
}

a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 20px;
    font-size: 0.8em;
    color: #777;
}

footer a {
    color: #777;
    text-decoration: none;
}
